<header id="menubar"><h1>Admin Dashboard</h1></header>

<div class="page">

	<div class="block"><h2>Subsidies</h2>
	<p>
		<b>Total:</b> <%= Subsidy.all.count %><br>
		<b>Live:</b> <%= Subsidy.live.count %><br>
		<%= link_to "edit", admin_subsidies_url %>
	</p>
	</div>

	<div class="block"><h2>Institutions</h2>
	<p>
		<b>Total:</b> <%= Institution.all.count %><br>
		<b>Live:</b> <%= Institution.live.count %><br>
		<%= link_to "edit", admin_institutions_url %>
	</p>
	</div>

	<div class="block"><h2>Entities</h2>
	<p>
		<b>Total:</b> <%= Entity.all.count %><br>
		<b>Live:</b> <%= Entity.live.count %><br>
		<%= link_to "edit", admin_entities_url %>
	</p>
	</div>

	<div class="block"><h2>Projects</h2>
	<p>
		<b>Total:</b> <%= Project.all.count %><br>
		<b>Live:</b> <%= Project.live.count %><br>
		<%= link_to "edit", admin_projects_url %>
	</p>
	</div>
	
	<div class="block"><h2>Sectors</h2>
	<p>
		<b>Total:</b> <%= Sector.all.count %><br>
		<b>Live:</b> <%= Sector.live.count %><br>
		<%= link_to "edit", admin_sectors_url %>
	</p>
	</div>
	
	<p class="buttons"><%= link_to "Clear Cache", admin_clear_url, :class => "button" %></p>

</div>
