<header id="menubar"><h1>Admin Dashboard</h1></header>

<div class="page">

	<p>Logged in as <%= @user.name %>.</p>

	<h3>Subsidies</h3>
	<p><%= link_to "#{Subsidy.all.count} subsidies", admin_subsidies_url %></p>

	<h3>Institutions</h3>
	<p><%= link_to "#{Institution.all.count} institutions", admin_institutions_url %> in <%= link_to "#{InstitutionGroup.all.count} institution groups", admin_institution_groups_url %></p>

	<h3>Entities</h3>
	<p><%= link_to "#{Entity.all.count} entities", admin_entities_url %></p>

	<h3>Projects &amp; Sectors</h3>
	<p><%= link_to "#{Project.all.count} projects", admin_projects_url %> in <%= link_to "#{Sector.all.count} sectors", admin_sectors_url %></p>

	<p class="buttons"><%= link_to "Clear Frontend Cache", admin_clear_url, :class => "button" %></p>

</div>
