<%= form_for([:admin,@institution_group]) do |f| %>
  <% if @institution_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@institution_group.errors.count, "error") %> prohibited this institution_group from being saved:</h2>

      <ul>
      <% @institution_group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :country %><br />
    <%= f.select :country, country_options_for_select( @institution_group.country ), :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :region %><br />
    <%= f.text_field :region %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
