<div id="graph"></div>

<script>
	/* Raphael - http://raphaeljs.com/ */

	var graph_w = 970;
	var graph_h = 540;
	
	var g = Raphael('graph',graph_w,graph_h);
	
	<% @institutions.each do |i| %>
		c<%= i.id %> = g.circle((graph_w-100)*<%= i.ratio %>+50,100,<%= (i.scale + 1) * 50 %>)
		c<%= i.id %>.attr({fill:"hsba(<%= i.ratio * 0.35 %>,0.5,1,0.75)", stroke:"none"});
		t<%= i.id %> = g.text((graph_w-100)*<%= i.ratio %>+50,100,"<%= i.abbreviation %>").attr({fill:"#fff"});
		c<%= i.id %>.click(function(){location.href = "<%= url_for i %>";});
	<% end %>
</script>

<style>
	circle:hover {fill-opacity:1;}
	li.institution {list-style:none; float:left; width:100px; margin-right:10px;}
</style>