<%= render :partial => "menubar" %>

<div id="graphview" class="view">
	<%= render :partial => "subsidies/force", :object => @subsidies %>
</div>

<div id="tableview" class="view">
	<table>
		<thead>
			<th>Amount</th>
			<th>From (Institution)</th>
			<th>To (Entity)</th>
			<th>For (Project)</th>
			<% if @user %><th></th><% end %>
		</thead>
		<% @subsidies.each do |subsidy| %>
		<tr>
			<td><%= number_to_human(subsidy.amount) %></td>
			<td><% if subsidy.institution %><%= subsidy.institution.name %><% else %><i>blank</i><% end %></td>
			<td><% if subsidy.entity %><%= subsidy.entity.name %><% else %><i>blank</i><% end %></td>
			<td><% if subsidy.project %><%= subsidy.project.name %><% else %><i>blank</i><% end %></td>
			<% if @user %><td>
	    	<%= link_to 'Edit', edit_subsidy_path(subsidy), :class => "edit icon" %>
  	  	<%= link_to 'Destroy', subsidy, :confirm => 'Are you sure?', :method => :delete, :class => "destroy icon" %>
			</td><% end %>
		</tr>
		<% end %>
	</table>
</div>