<%= render :partial => "layouts/menubar", :locals => {:title => @institution.shortname, :start_date => @start_date, :end_date => @end_date} %>

<script>
	var data = '';
	var r = 'all';
	var s = <%= @start_date.year %>, e = <%= @end_date.year %>;
	var dataURL = '<%= request.url %>/subsidies.json';
</script>

<div id="graphview" class="view"><%= render :partial => "subsidy_bubbles", :object => @projects %></div>
<div id="tableview" class="view"><%= render :partial => "subsidy_table" %></div>