<%= form_for([:admin,@subsidy]) do |f| %>

	<%= render :partial => "layouts/errors", :object => @subsidy, :as => :model %>

  <div class="field">
    <%= f.label :amount_original, "Amount (Original Currency)" %><br />
    <%= f.text_field :amount_original %>
  </div>
  <div class="field">
    <%= f.label :currency %><br />
    <%= f.select :currency, currency_options_for_select( @subsidy.currency ), {:include_blank => "Select original currency"} %>
    <button id="autoconvert">Auto-Convert</button>
  </div>
  <div class="field">
  	<%= f.label :amount_usd, "Amount (USD)" %><br />
  	<%= f.text_field :amount_usd %>
  </div>
  
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :institution_id %><br />
    <%= f.select :institution_id, Institution.all.collect {|i| [ "#{i.name} (#{i.abbreviation})", i.id ] }.sort %>
    or <%= link_to "Add a new institution.", new_admin_institution_path %>
  </div>
  <div class="field">
    <%= f.label :entity_id %><br />
    <%= f.select :entity_id, Entity.all.collect {|e| [ e.name, e.id ] }.sort  %>
    or <%= link_to "Add a new entity.", new_admin_entity_path %>
  </div>
  <div class="field">
    <%= f.label :project_id %><br />
    <%= f.select :project_id, Project.all.collect {|p| [ p.name, p.id ] }.sort  %>
    or <%= link_to "Add a new project.", new_admin_project_path %>
  </div>
  <div class="field">
    <%= f.label :kind %><br />
    <%= f.select :kind, ['Equity','Grant','Guarantee','Loan'] %>
  </div>
  <div class="field">
    <%= f.label :approved %><br />
    <%= f.check_box :approved %>
  </div>
  <div class="field">
    <%= f.label :source %><br />
    <%= f.text_field :source %>
  </div>
  <div class="actions">
    <%= f.submit %> or <%= link_to "Cancel", admin_subsidies_path %>
  </div>
<% end %>

<script>
$(function(){
	$.getJSON('http://openexchangerates.org/latest.json?app_id=b0c4c804f0f04c7c9a26f9db3a52f08c',function(data) {
		if ( typeof fx !== "undefined" && fx.rates ) {
			fx.rates = data.rates;
			fx.base = data.base;
		} else {
			var fxSetup = {rates: data.rates, base: data.base}
		}
	});
	$("#autoconvert").click(function(event) {
		event.preventDefault();
		autoconvert();
	});
})
</script>