<%= form_for([:admin,@subsidy]) do |f| %>

	<%= render :partial => "layouts/errors", :object => @subsidy, :as => :model %>

  <div class="field">
    <%= f.label :amount_original, "Amount" %><br />
    <%= f.text_field :amount_original %>
  </div>
  <div class="field">
    <%= f.label :currency %><br />
    <%= f.select :currency, currency_options_for_select( @subsidy.currency ), {:include_blank => "Select original currency"} %>
  </div>
  
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :institution_id %><br />
    <%= f.select :institution_id, Institution.all.collect {|i| [ "#{i.name} (#{i.abbreviation})", i.id ] }.sort %>
    or <%= link_to "Add a new institution.", new_admin_institution_path %>
  </div>
  <div class="field">
    <%= f.label :entity_id %><br />
    <%= f.select :entity_id, Entity.all.collect {|e| [ e.name, e.id ] }.sort  %>
    or <%= link_to "Add a new entity.", new_admin_entity_path %>
  </div>
  <div class="field">
    <%= f.label :project_id %><br />
    <%= f.select :project_id, Project.all.collect {|p| [ p.name, p.id ] }.sort  %>
    or <%= link_to "Add a new project.", new_admin_project_path %>
  </div>
  <div class="field">
    <%= f.label :kind %><br />
    <%= f.select :kind, ['Equity','Grant','Guarantee','Loan'] %>
  </div>
  <div class="field">
    <%= f.label :approved %><br />
    <%= f.check_box :approved, :checked => true %>
  </div>
  <div class="field">
    <%= f.label :source %><br />
    <%= f.text_field :source %>
  </div>
  <div class="actions">
    <%= f.submit %> or <%= link_to "Cancel", admin_subsidies_path %>
  </div>
<% end %>