<div class="page">

	<p id="notice"><%= notice %></p>

	<p><% if !@subsidy.kind.empty? %><%= @subsidy.kind %><% else %>Subsidy<% end %> for $<%= number_to_human(@subsidy.amount) %> (USD) made from <%= link_to @subsidy.institution.name, @subsidy.institution %> to <%= link_to @subsidy.entity.name, @subsidy.entity %> for <%= link_to @subsidy.project.name, @subsidy.project %>. Approved on <%= @subsidy.date %>.</p>

	<p><b>Source:</b> <%= @subsidy.source %></p>

	<p><%= link_to 'Back', subsidies_url %></p>

</div>