<%= form_for(@institution) do |f| %>
  <% if @institution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@institution.errors.count, "error") %> prohibited this institution from being saved:</h2>

      <ul>
      <% @institution.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :abbreviation %><br />
    <%= f.text_field :abbreviation, :size => 8 %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :institution_group %><br />
    <%= f.collection_select :institution_group_id, InstitutionGroup.all, :id, :name, {:include_blank => true} %>
    or <%= link_to "Add a new institution group.", new_admin_institution_group_path %>
  </div>
  <div class="field">
    <%= f.label :kind %><br />
    <%= f.select :kind, ['Multilateral','Bilateral','Export Credit'] %>
  </div>
  <div class="field">
    <%= f.label :fiscal_year, "Fiscal Year Begins In..." %><br />
    <%= select_month(@institution.fiscal_year, :prefix => "institution", :field_name => "fiscal_year") %>
  </div>
  <div class="field">
    <%= f.label :visible %><br />
    <%= f.check_box :visible %>
  </div>
  <div class="actions">
    <%= f.submit %> or <%= link_to "Cancel", admin_institutions_url %>
    <br>
  </div>
<% end %>