<%= render :partial => "layouts/menubar", :locals => {:title => 'Entity', :modes => false} %>

<div id="info">
	<h1><%= @entity.name %></h1>
	<p><%= @entity.kind %></p>
</div>

<div id="graphview" class="view">
	<%= render :partial => "force" %>
	<p id="caption"><span class="clean">Clean energy</span> and <span class="fossil">fossil fuel</span> projects of <%= @entity.name %> and their funding institutions.</p>
</div>