<%= render :partial => "layouts/menubar" %>

<script>
	var s = <%= @start_date.year %>, e = <%= @end_date.year %>;
	var dataURL = '<%= request.url %>.json';
</script>

<div id="graphview" class="view"><%= render :partial => "sector_bubbles" %></div>
<div id="tableview" class="view"><%= render :partial => "sector_table" %></div>