<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :country %><br />
    <%= f.select :country, options_for_select( Carmen::country_names, @project.country ), {:include_blank => 'Select a Country'} %>
  </div>
  <div class="field">
    <%= f.label :description, "Description (public)" %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :notes, "Notes (private)" %><br />
    <%= f.text_area :notes %>
  </div>
  <div class="field">
  	<%= f.label :energy_access %><br />
  	<%= f.check_box :energy_access %>
  </div>
  <div class="field">
    <%= f.label :sector_id %><br />
    <%= f.select :sector_id, Sector.all.collect {|s| [ s.name, s.id ] }, {:include_blank => 'None'} %>
    or <%= link_to "Add a new sector.", new_sector_path %>
  </div>
  <div class="actions">
    <%= f.submit %> or <%= link_to "Cancel", projects_url %>
  </div>
<% end %>
