<h1>Listing projects</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Sector</th>
    <th>Country</th>
    <th>Tags</th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.name %></td>
    <td><% if project.sector %><%= project.sector.name %><% end %></td>
    <td><%= project.country %></td>
    <td><%= project.tags %></td>
    <td>
	    <%= link_to 'Show', project, :class => "show icon" %>
	    <%= link_to 'Edit', edit_project_path(project), :class => "edit icon" %>
	    <%= link_to 'Destroy', project, :confirm => 'Are you sure?', :method => :delete, :class => "destroy icon" %>
	  </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path, :class => "new button" %>
