<%= render :partial => "layouts/menubar", :locals => {:title => 'Project', :modes => false} %>

<p id="notice"><%= notice %></p>

<div id="page" class="project page">
	<h1><%= @project.name %></h1>
	<%= image_tag @project.icon, :size => "64x64", :class => "sector-icon" %>
	<ul class="entity-list"><% @project.entities.each do |e| %><li><%= e.name %></li><% end %></ul>
	
	<div id="map"><h2>Region</h2></div>

	<div id="description">
		<h2>Description</h2>
		<%= simple_format(@project.description) %>
	</div>

	<p>
		<h2>Funding for this project</h2>
		<ul class="subsidy-list">
		<% @project.live_subsidies.each do |s| %>
		<li><%= link_to "#{number_to_short( s.amount )} #{s.kind.downcase}", s %> from <%= link_to s.institution.name, s.institution %><% if s.date %> in <%= s.date.strftime('%Y') %><% end %></li>
		<% end %>
		</ul>
	</p>
</div>

<script>
function draw_mini_map() {
	$('#map').vectorMap({
		color: '#ccc',
		backgroundColor: 'transparent',
		onLabelShow: function(e){e.preventDefault();},
		onRegionOver: function(e){e.preventDefault();}
	});
	<% if country_code = Carmen::country_code(@project.country) %>$('#map').vectorMap('set','colors',{'<%= country_code.downcase %>': '#f90'});<% end -%>
}
</script>