<div id="page" class="home page">

	<div id="graph">
		<%= render :partial => 'layouts/svgwarning' %>
		<p id="caption">World Bank Group energy subsidies 2008-2011 to <span class="fossil">fossil fuel</span> and <span class="clean">clean energy</span> projects.</p>
	</div>
	
	<div class="block"><h2>Energy Subsidies</h2>
		<p>For decades, wealthy countries have been using international aid and other foreign assistance to subsidize the expansion of the international fossil fuel industry.</p>
	</div>

	<div class="block"><h2>Shift the Subsidies</h2>
		<p>The Shift the Subsidies database is an interactive tool to visually track and analyze the flow of energy subsidies from international, regional and bilateral public financial institutions around the world.</p>
		<%= link_to "Get started!", institutions_path, :class => "big button" %>
	</div>

</div>
<script>
var data = {"totals": [
	{"category": "Fossil Fuel", "total": <%= total_to_category("Fossil Fuel") %>, "label": "<%= number_to_short( total_to_category("Fossil Fuel") ) %>"},
	{"category": "Clean", "total": <%= total_to_category("Clean") %>, "label": "<%= number_to_short( total_to_category("Clean") ) %>"}
]};

function drawGraph(data) {
	var graph = set_graph('#graph');
	var bubble = bubble_graph('#graph','d.total');
	
	var labels = graph.selectAll("text.label")
		.data(bubble(bubblize(data.totals)).filter(function(d) { return !d.children; }));
	
	make_labels(labels,'label');
	
	var nodes = graph.selectAll("circle.node")
		.data(bubble(bubblize(data.totals)).filter(function(d) { return !d.children; }));
	
	make_nodes(nodes,'category','/institutions/');
}	
</script>