<%= form_for([:admin,@entity]) do |f| %>

	<%= render :partial => "layouts/errors", :object => @entity, :as => :model %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :kind %><br />
    <%= f.select :kind, ['Company','Government','Group'] %>
  </div>
  <div class="field">
    <%= f.label :groups %><br />
		<%= f.collection_select :group_ids, Entity.where({:kind => "group"}).all, :id, :name, {}, :multiple => true %>
  </div>  
  <div class="actions">
    <%= f.submit %> or <%= link_to "Cancel", admin_entities_url %>
  </div>
<% end %>
