<%= form_for(@subsidy) do |f| %>
  <% if @subsidy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@subsidy.errors.count, "error") %> prohibited this subsidy from being saved:</h2>

      <ul>
      <% @subsidy.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :amount_usd, "Amount (USD)" %><br />
    <%= f.text_field :amount_usd %>
  </div>
  <div class="field">
    <%= f.label :currency %><br />
    <%= f.select :currency, currency_options_for_select( @subsidy.currency ), {:include_blank => "Select original currency"} %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :institution_id %><br />
    <%= f.select :institution_id, Institution.all.collect {|i| [ "#{i.name} (#{i.abbreviation})", i.id ] } %>
    or <%= link_to "Add a new institution.", new_institution_path %>
  </div>
  <div class="field">
    <%= f.label :entity_id %><br />
    <%= f.select :entity_id, Entity.all.collect {|e| [ e.name, e.id ] }  %>
    or <%= link_to "Add a new entity.", new_entity_path %>
  </div>
  <div class="field">
    <%= f.label :project_id %><br />
    <%= f.select :project_id, Project.all.collect {|p| [ p.name, p.id ] }  %>
    or <%= link_to "Add a new project.", new_project_path %>
  </div>
  <div class="field">
    <%= f.label :kind %><br />
    <%= f.select :kind, ['Equity','Grant','Guarantee','Loan'] %>
  </div>
  <div class="field">
    <%= f.label :approved %><br />
    <%= f.check_box :approved %>
  </div>
  <div class="field">
    <%= f.label :source %><br />
    <%= f.text_field :source %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
