<h1>Listing subsidies</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Amount</th>
    <th>Kind</th>
    <th>From</th>
    <th>To</th>
    <th>For</th>
    <th></th>
  </tr>

<% @subsidies.each do |subsidy| %>
  <tr>
    <td><%= subsidy.date.strftime("%b %Y") %></td>
    <td><%= number_to_currency(subsidy.amount) %> <%= subsidy.currency.upcase %></td>
    <td><%= subsidy.kind %></td>
    <td><%= link_to subsidy.institution.abbreviation, subsidy.institution %></td>
    <td><%= link_to subsidy.entity.name, subsidy.entity %></td>
    <td><%= link_to subsidy.project.name, subsidy.project %></td>
    <td>
    	<%= link_to 'Show', subsidy, :class => "show icon" %>
    	<%= link_to 'Edit', edit_subsidy_path(subsidy), :class => "edit icon" %>
    	<%= link_to 'Destroy', subsidy, :confirm => 'Are you sure?', :method => :delete, :class => "destroy icon" %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Subsidy', new_subsidy_path, :class => "new button" %>
