<div class="page">

	<p id="notice"><%= notice %></p>

	<p><%= @subsidy.kind %> for <%= number_to_currency(@subsidy.amount) %><%= @subsidy.currency %> made from <%= @subsidy.institution.name %> to <%= @subsidy.entity.name %> for <%= @subsidy.project.name %>. Approved on <%= @subsidy.date %>.</p>

	<p><b>Source:</b> <%= @subsidy.source %></p>

</div>