<p id="notice"><%= notice %></p>

<p>
  <b>Amount:</b>
  <%= @subsidy.amount %>
</p>

<p>
  <b>Currency:</b>
  <%= @subsidy.currency %>
</p>

<p>
  <b>Date:</b>
  <%= @subsidy.date %>
</p>

<p>
  <b>Institution:</b>
  <%= @subsidy.institution.name %>
</p>

<p>
  <b>Entity:</b>
  <%= @subsidy.entity.name %>
</p>

<p>
  <b>Project:</b>
  <%= @subsidy.project.name %>
</p>

<p>
  <b>Kind:</b>
  <%= @subsidy.kind %>
</p>

<p>
  <b>Approved:</b>
  <%= @subsidy.approved %>
</p>

<p>
  <b>Source:</b>
  <%= @subsidy.source %>
</p>


<%= link_to 'Edit', edit_subsidy_path(@subsidy) %> |
<%= link_to 'Back', subsidies_path %>
