<nav id="adminbar"><ul id="adminlist">
	<li><%= link_to "Subsidies", admin_subsidies_path %></li>
	<li><%= link_to "Institutions", admin_institutions_path %></li>
	<li><%= link_to "Entities", admin_entities_path %></li>
	<li><%= link_to "Sectors", admin_sectors_path %></li>
	<li><%= link_to "Projects", admin_projects_path %></li>
</ul></nav>
