<nav id="navbar"><ul id="navlist">
	<li><%= link_to "Home", "/" %></li>
	<li><%= link_to "Funding Institutions", institutions_path %></li>
	<li><%= link_to "Project Map", projects_path %></li>
	<li><%= link_to "Energy Sectors", sectors_path %></li>
	<li><%= link_to "Energy Subsidies", subsidies_path %></li>
	<li><%= link_to "About", "/about" %></li>
</ul></nav>