<nav id="sections"><ul>
	<li><%= link_to "Subsidies", subsidies_path %></li>
	<li><%= link_to "Institutions", institutions_path %></li>
	<li><%= link_to "Entities", entities_path %></li>
	<li><%= link_to "Sectors", sectors_path %></li>
	<li><%= link_to "Projects", projects_path %></li>
</ul></nav>