<nav id="sections"><ul>
	<li><%= link_to "Home", "/" %></li>
	<li><%= link_to "Funding Institutions", institutions_path %></li>
	<li><%= link_to "Receiving Entities", entities_path %></li>
	<li><%= link_to "Energy Sectors", sectors_path %></li>
	<li><%= link_to "About", "/about" %></li>
	<li><%= link_to "Methodology", "/methodology" %></li>
</ul></nav>