<!DOCTYPE html>
<html>

<head>
<title>ShiftTheSubsidies</title>
<%= stylesheet_link_tag 'style','datatables' %>
<%= javascript_include_tag 'jquery','jquery_ujs','jquery.dataTables.min','d3/d3','d3/d3.layout','d3/d3.geom','application' %>
<%= csrf_meta_tag %>
</head>

<body class="admin"><div id="wrapper">

<%= render :partial => 'layouts/header' %>
<%= render :partial => 'layouts/navbar' %>

<section id="content" class="container">

<%= yield %>

</section><!-- #content -->

<%= render :partial => 'layouts/adminbar' %>
<%= render :partial => 'layouts/footer' %>

</div><!-- #wrapper -->
</body>
</html>
