<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<title>Shift The Subsidies [ADMIN]</title>
<%= stylesheet_link_tag 'application' %>
<%= csrf_meta_tag %>
</head>

<body class="admin <%= controller_name %> <%= controller.action_name %>">
<div id="wrapper">

<%= render :partial => 'layouts/adminbar' %>
<%= render :partial => 'layouts/header' %>
<%= render :partial => 'layouts/navbar' %>

<div id="content" class="container">
<%= yield %>
</div><!-- #content -->

</div><!-- #wrapper -->

<%= javascript_include_tag 'application','money.min.js' %>

</body>
</html>