<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<title>[ADMIN] <%= controller_name.capitalize %> | ShiftTheSubsidies.org - Oil Change International</title>
<%= stylesheet_link_tag 'application' %>
<%= csrf_meta_tag %>
</head>

<body class="admin <%= controller_name %> <%= controller.action_name %>">
<div id="wrapper">

<%= render :partial => 'layouts/adminbar' %>

<div id="content">
<%= yield %>
</div><!-- #content -->

</div><!-- #wrapper -->

<%= javascript_include_tag 'application' %>

</body>
</html>