<!DOCTYPE html>
<html>

<head>
<title>ShiftTheSubsidies</title>
<%= stylesheet_link_tag 'style','datatables' %>
<%= javascript_include_tag 'modernizr-2.0.6.min.js','jquery-1.6.4.min.js' %>
<%= csrf_meta_tag %>
</head>

<body class="admin"><div id="wrapper">

<%= render :partial => 'layouts/adminbar' %>
<%= render :partial => 'layouts/header' %>
<%= render :partial => 'layouts/navbar' %>

<section id="content" class="container">

<%= yield %>

</section><!-- #content -->

<%= render :partial => 'layouts/footer' %>

</div><!-- #wrapper -->

<%= javascript_include_tag 'rails.min.js','jquery.dataTables-1.8.2.min.js','application.js' %>

</body>
</html>
