<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<title>Shift The Subsidies</title>
<meta name="description" content="ShiftTheSubsidies.org is an interactive tool to visually track and analyze the flow of energy subsidies from international, regional and bilateral public financial institutions around the world.">
<meta name="author" content="Oil Change International">
<%= stylesheet_link_tag 'style' %>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="/javascripts/jquery-1.9.1.min.js"><\/script>')</script>

<%= csrf_meta_tag %>
</head>

<body class="<%= controller_name %> <%= controller.action_name %>">
<div id="wrapper">

<%= render :partial => 'layouts/header' %>
<%= render :partial => 'layouts/navbar' %>

<div id="content" class="container">
<%= yield %>
</div><!-- #content -->

</div><!-- #wrapper -->

<%= javascript_include_tag 'rails.js','d3.v3.min.js','jquery.dataTables-1.9.4.min.js','application.js' %>
<%= render :partial => 'layouts/sharethis' %>
<%= render :partial => 'layouts/ga' %>

</body>
</html>