<!DOCTYPE html>
<html>

<head>
<title>ShiftTheSubsidies</title>
<%= stylesheet_link_tag 'scaffold','style' %>
<%= javascript_include_tag 'jquery','raphael' %>
<%= csrf_meta_tag %>
</head>

<body><div id="wrapper">

<%= render :partial => 'layouts/header' %>

<section id="content" class="container">

<%= yield %>

</section><!-- #content -->

<% if @user %><%= render :partial => 'layouts/footer' %><% else %><footer><%= link_to "Log in.", login_url %></footer><% end %>

</div><!-- #wrapper -->
</body>
</html>
