<!DOCTYPE html>
<html>

<head>
<title>ShiftTheSubsidies</title>
<%= stylesheet_link_tag 'style','datatables' %>
<%= javascript_include_tag 'modernizr-2.0.6.min.js','jquery-1.6.4.min.js','d3-2.2.0/d3.min.js','d3-2.2.0/d3.layout.min.js','d3-2.2.0/d3.geom.min.js' %>
<%= csrf_meta_tag %>
</head>

<body><div id="wrapper">

<%= render :partial => 'layouts/header' %>
<%= render :partial => 'layouts/navbar' %>

<section id="content" class="container">

<%= yield %>

</section><!-- #content -->

</div><!-- #wrapper -->

<%= javascript_include_tag 'rails.min.js','jquery.dataTables.min.js','application.js' %>

</body>
</html>
